<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
	</configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Gherkin" publicKeyToken="86496cfa5b4a5851" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-23.0.1.0" newVersion="23.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="15b1115599983c50" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.14.1.0" newVersion="2.14.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="15b1115599983c50" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.70" newVersion="2.4.0.70" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	
	<log4net>
		<root>
			<level value="ALL"/>
			<appender-ref ref="LogFileAppender" />
		</root>
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
			<file value=" log.txt"/>
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d [%t] %-5p %c %m%n" />
			</layout>
		</appender>
	</log4net>
</configuration>